.box{
  height: 100px;
  background-color: gray;
  width: 25%;
  float: left;
  padding: 5px;
  box-sizing: border-box;
}

.navbar{
  float: left;
  overflow: hidden;
  background-color: blue;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar a{
  background-color: red;
}
